<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <base href="http://localhost/tasteit-master/">
    <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/s.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- Demo styles -->
</head>
<body class="montserrat" style="background:#eee;">
        <header class="fixed z-50 w-full bg-white">
            <div class="container w-full px-3">
                <div class="flex justify-between">
                    <div class="flex items-center my-3 lg:my-6">
                        <div class="flex items-center">
                            <a href="" class="h-img mr-8 max-3">
                                <img src="https://nguoidaidien.giaodienmau.com/uploads/demo/remove-bg-ai-1730532315024-1.png" alt="" class="">
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center gap-4 my-3 lg:my-6">
                        <a href="" class="">Lịch sử truy cập</a>
                        <div class="customer-header relative">
                            <a href="" class="h-10 w-10 overflow-hidden rounded-full block">
                                <img src="images/5ee082781b8c41406a2a50a0f32d6aa6.jpg" alt="" class="">
                            </a>
                            <ul class="p-2">
                                <li class="font-medium text-sm flex">
                                    <a href="" class="py-3 px-2 w-full">Đổi mật khẩu</a>
                                </li>
                                <li class="font-medium text-sm flex">
                                    <a href="" class="py-3 px-2 w-full">Đăng xuất
                                        <i class="ml-2 fa-solid fa-right-from-bracket"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-lists  w-full z-50">
                <div class="container">
                    <ul class="flex lg:justify-center fixed lg:static flex-col lg:flex-row menu">
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Trang About</a>
                            <ul class="">
                                <a href="" class="">Trang About</a>
                            </ul>
                        </li>
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Trang thực đơn</a>
                            <ul class="">
                                <a href="" class="">Danh mục thực đơn</a>
                                <a href="" class="">Thực đơn</a>
                            </ul>
                        </li>
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Đầu bếp</a>
                            <ul class="">
                                <a href=""class="">Đầu bếp</a>
                            </ul>
                        </li>
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Reservation</a>
                            <ul class="">
                                <a href="" class="">Reservation</a>
                            </ul>
                        </li>
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Trang tin tức</a>
                            <ul class="">
                                <a href="" class="">Trang tin tức</a>
                            </ul>
                        </li>
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Trang giao diện</a>
                            <ul class="">
                                <a href="" class="">Banner</a>
                                <a href="" class="">Ảnh trang menu</a>
                            </ul>
                        </li>
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Khác</a>
                            <ul class="">
                                <a href="" class="">Khách hàng đặt sản phẩm</a>
                                <a href="" class="">Cảm nhận khách hàng</a>
                            </ul>
                        </li>
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Footer</a>
                            <ul class="">
                                <a href="" class="">Open hours</a>
                                <a href="" class="">Link</a>
                                <a href="" class="">Newletter</a>
                            </ul>
                        </li>
                        <li class="relative">
                            <a href="" class="lg:py-5 lg:px-4 uppercase">Kho media</a>
                            <ul class="">
                                <a href="" class="">Kho media</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    <section class="">
        <div class="flex justify-between widget-title items-center">
            <p class="p-2">Tin tức</p>
            <div class="">
                <a href="" class="btn-admin">
                    Thêm mới
                </a>
                <a href="" class="btn-admin">Xóa</a>
            </div>
        </div>  
        <div class="p-3">
            <div class="flex justify-between items-center mt-4">
                <p class="">Tổng số: <span class="">12</span> bản ghi</p>
                <div class="">
                    <a href="" class="btn-admin">Làm mới</a>
                    <a href="" class="btn-admin">Tìm kiếm năng cao</a>
                </div>
            </div>
            <div class="mt-2">
                <div class="pagination-news">
                    <a href="" class="" rel="prev">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a href="" class="">1</a>
                    <a href="" class="">2</a>
                    <a href="" class="" rel="next">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="flex justify-center">
                <table class="table-news">
                    <thead >
                        <th>STT</th>
                        <th>Tên bài viết</th>
                        <th>Slug</th>
                        <th>Hình ảnh</th>
                        <th>Kích hoạt</th>
                        <th>Hiển thị ở danh mục</th>
                        <th>Chức năng</th>
                    </thead>
                    <tbody class="">
                        <% news.forEach(function(item,X) { %>
                        <tr class="">
                            <td class=""><%=X + 1%></td>
                            <td class=""><%= item.name%></td>
                            <td class=""><%= item.slug%></td>
                            <td class="img-news">
                                <img src="<%= item.img%>" alt="" class="">
                            </td>
                            <td class="">
                                <div class="toggle-button-demo">
                                    <input class="toggle toggle-ios" value="<%= item.active%>" id="<%= item.id%>" data-id="<%= item.id%>" type="checkbox"/>
                                    <label class="toggle-btn" for="<%= item.id%>"></label>
                                </div>
                            </td>
                            <td class="">

                            </td>
                            <td class="">
                                <a href="" class="">
                                    <i class="fa-regular fa-eye"></i>
                                </a>
                                <a href="" class="">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="javascript:void(0)" class="delete-btn" data-id="<%= item.id %>">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>  
    <script src="js/main-admin.js"></script>
</body>

</html>